<div [@routerTransition]>

    <!--<app-pari [heading]="'Paris'" [icon]="'fa-money'"></app-pari>-->

    <div>
        <div>

            <br>
            <h5>Classement des parieurs</h5>
            <br>
            <br>
       
            <div>
                <label>Liste des parieurs : </label>
                <br>
                <br>
                <input type="text" id="myInput" class="form-control" [(ngModel)]="recherche" (ngModelChange)="findTable('myInput','maTable')" placeholder="Chercher le pseudo..">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                            <table class="table" id="maTable">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Place</th>
                                        <th>Pseudo</th>
                                        <th>Nombre de paris</th>
                                        <th>Réussis</th>
                                        <th>Échecs</th>
                                        <th>Renflouement</th>
                                        <th>JC$</th>
                                        <th>JC$ moins renflouement</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of parieur; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.uti_login}}</td>
                                        <td>{{item.nb_pari}}</td>
                                        <td>{{item.nb_win}}</td>
                                        <td>{{item.nb_lose}}</td>
                                        <td>{{item.nb_refund}}</td>
                                        <td>{{item.argent_actuel+item.argent_encours}}</td>
                                        <td>{{item.argent_actuel-item.argent_refund+item.argent_encours}}</td>
                                    </tr>
                                    </tbody>
                           </table>
                    </div>
                </div>

                <br>
                <!--<table id="tableparieur" class="display" width="100%"></table>-->

            </div>

            </div>

    </div>

</div>
