<div [@routerTransition]>

    <h2>JCS Easy Stats</h2>
    <h6><i>Powered by JCS Infinity</i></h6>
    <br>
    <h5>Choisir la saison :</h5>
    <div class="row">
    <div class="col-lg-2">
    <select [(ngModel)]="saison" (ngModelChange)="selectionChange($event)" class="form-control">
            <option value="2">Saison 2</option>
            <option value="3">Saison 3</option>
            <option value="4">Saison 4</option>
    </select>
    </div>
    <div *ngIf="!dataIsload" class="col-lg-2">
            <img src="./../../../assets/images/ajax-loader.gif">
    </div>
    </div>  

    <br>

    <div class="btn-group" style="width:100%">
            <button (click)="direction(1)"  style="width:33%">Accueil</button>
            <button (click)="direction(2)"  style="width:33%">Équipes</button>
            <button (click)="direction(3)"  style="width:33%">Pick & Bans</button>      
    </div>

    <div>    
        <!--<nav class="navbar navbar-inverse">
          <span><a [routerLink]="['/jcs-easy-stats/']" [routerLinkActive]="['router-link-active']" (click)="direction(1)">Accueil</a></span>
          <span><a [routerLink]="['/jcs-easy-stats/equipes']" [routerLinkActive]="['router-link-active']" (click)="direction(2)">Équipes</a></span>
          <span><a [routerLink]="['/jcs-easy-stats/picks']" [routerLinkActive]="['router-link-active']">Picks & Bans</a></span>
       
        </nav>
        <!--<div class="outer-outlet">
          <router-outlet></router-outlet>
        </div>-->
        <div *ngIf="route == '1'">
            <app-tableau-joueurs [saison]="saison" (dataLoad)="dataLoad($event)"></app-tableau-joueurs>
        </div>    
        <div *ngIf="route == '2'">
            <app-equipes [saison]="saison"></app-equipes>
        </div>  
        <div *ngIf="route == '3'">
            <app-presence [saison]="saison" (dataLoad)="dataLoad($event)"></app-presence>
        </div>  
    </div>

</div>
