<div [@routerTransition]>
    <h2 class="text-muted">Bienvenue sur JCS Infinity</h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
        <h3>Les JCS qu'est ce que c'est ?</h3>
        <br>
        <p>Les JCS ou Jeuxvideo.com Championship Series est un tournoi de League of Legends au départ crée par la communauté du forum league of legends du site jeuxvideo.com 
           qui se veut une expérience inédite en proposant à ses joueurs de jouer selon un format semblable à un split de LCS se déroulant sur plusieurs semaines. 
        </p>
        <p>
            Les équipes sont formées de manière équitable via un système d'enchères en blindpick permettant aux capitaines de constituer des équipes selon les descriptions données par les joueurs et celles-ci 
            s'affrontent chaque semaine afin de se classer pour participer aux playoffs du tournoi.
        </p>
        <p>
            Après une saison 1 avec 6 équipes, la compétition a prit de l'ampleur en créeant deux ligues de 8 équipes chacunes pour la saison 2 permettant ainsi aux joueurs de tous les niveaux de participer.
            Aujourd'hui le tournoi tente de faire aussi grand avec une saison 3 qui s'annonce explosive.
        </p>
        <br>
        <h3>Rejoindre les JCS</h3>
        <br>
        <p>Pour participer à la compétition, le meilleur moyen est de rejoindre le discord pour suivre les dernières infos et être prêt à s'inscrire lorsque qu'une nouvelle saison du tournoi commence.</p>
        <p>Il est possible de rejoindre le discord avec ce lien : <a href="https://discord.gg/bh3SCRj">https://discord.gg/bh3SCRj</a> </p>
        <br>
        <h3>JCS Infinity</h3>
        <br>
        <p>JCS Infinity est un site web hébergé et géré par les organisateurs du tournoi se voulant comme un plus pour celui-ci en offrant un système de pari et un suivi statistiques de la compétition
            permettant aux joueurs d'aller plus loin et de faire des JCS un tournoi beaucoup plus sérieux et amusant à suivre. </p>
        <p>Pour toute question concernant le site, veuillez vous adresser à Forandos, Maw Lotov ou Cohort sur le discord du tournoi.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-twitch'" [path]="'https://www.twitch.tv/jvc_championship_series'" [target]="'_blank'" [label]="'Chaîne Twitch'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-twitter'" [path]="'https://twitter.com/JVC_LCS'" [target]="'_blank'" [label]="'Suivre le Twitter'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-bar-chart-o'" [path]="'/charts'" [label]="'JCS Easy Stats'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-money'" [path]="'/pari'" [label]="'JCS Easy Bets'"></app-stat>
        </div>
    </div>
</div>
