<div [@routerTransition]>

        <div *ngIf="!selectionPari">
        <br>
        <h5>Panneau d'administration</h5>
        <br>
        <br>

        <h6>Ajouter un joueur (+ génération de carte JCS Fantasy) :</h6>
        <br>
        <div class="row">           
                <div class="col-lg-2">
                    <label>Pseudo :</label>
                    <input id="nom" [(ngModel)]="pseudoJoueur"  class="form-control" type="text"/>   
                </div>
                <div class="col-lg-2">
                    <label>Structure :</label>
                    <select [(ngModel)]="choixEquipe" class="form-control">
                            <option value="65">Memeurs/Sossoke</option>
                            <option value="66">Outlanders/Kaboom</option>
                            <option value="67">InZeBoit/SynergyisntReal</option>
                            <option value="68">Kado/InTopTheWomd</option>   
                            <option value="69">Les Kinders/Vestiaires</option>
                            <option value="70">Trotski Net/Pension</option>
                            <option value="71">Spaceshroom/GankTop</option>
                            <option value="72">Quinte d'Or/Phailsetco</option>
                            <option value="900">Bac à sub L1</option>   
                            <option value="901">Bac à sub Acad</option>             
                    </select>
                </div>
                <div class="col-lg-2">
                    <label>Ligue :</label>
                    <select [(ngModel)]="choixLigue" class="form-control">
                            <option value="JCS">JCS</option>
                            <option value="Acad">Acad</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label>Main rôle :</label>
                    <select [(ngModel)]="choixRole" class="form-control">
                            <option value="TOP">TOP</option>
                            <option value="JUNG">JUNGLE</option>
                            <option value="MID">MID</option>
                            <option value="ADC">ADC</option>
                            <option value="SUPP">SUPP</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <label>Ajouter :</label>
                    <button type="button" (click)="ajoutJoueur()" class="form-control btn btn-primary">Ajouter le Joueur</button>
                </div>
                <!--<div class="col-lg-4">
                    <label>Saison :</label>
                    <select [(ngModel)]="choixOption" (ngModelChange)="selectionChange($event)" class="form-control">
                            <option value="3">Saison 3</option>
                    </select>
                </div>-->      
        </div>
        <br>
        <p>---------------------------------------------------------------------</p>
        <br>

        <h6>Ajouter un item (génération de carte JCS Fantasy) :</h6>
        <br>
        <div class="row">           
            <div class="col-lg-2">
                <label>Nom de carte :</label>
                <input id="nom" [(ngModel)]="nomItem"  class="form-control" type="text"/>   
            </div>
            <div class="col-lg-2">
                <label>Effet :</label>
                <input id="nom" [(ngModel)]="effetItem"  class="form-control" type="text"/>   
            </div>
            <div class="col-lg-2">
                <label>Item/Event :</label>
                <select [(ngModel)]="choixNature" class="form-control">
                        <option value="3">Item</option>
                        <option value="4">Event</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Rarete :</label>
                <select [(ngModel)]="choixRarete" class="form-control">
                        <option value="1">Normal</option>
                        <option value="2">Rare</option>
                        <option value="3">Épique</option>
                        <option value="4">Légendaire</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Ajouter :</label>
                <button type="button" (click)="ajoutCarteItem()" class="form-control btn btn-primary">Ajouter l'Item</button>
            </div>
        </div>
  
        <br>
        <p>---------------------------------------------------------------------</p>
        <br>

        <h6>Créer session JCS Fantasy :</h6>
        <br>

        <div class="row">
            <div class="col-lg-4">             
                                <form class="form-inline mb-3">
                                    <div class="form-group">
                                        <div class="input-group datepicker-input">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                name="dpb" [(ngModel)]="dateFantasy" ngbDatepicker #d="ngbDatepicker">
                                            <button class="input-group-addon" (click)="d.toggle()" type="button">
                                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                                <span class="fa fa-calendar"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="alert alert-info mb-0">
                                    <strong>Model: </strong> {{ date | json }}
                                </div>

                                <br>
                                <ngb-timepicker [(ngModel)]="heureFantasy"></ngb-timepicker>
                                <div class="alert alert-info">
                                    <b>Selected time: </b>{{heure | json}}
                                </div>     
                                
                                <br>
                                <div>
                                    <label>Semaine session :</label>
                                    <input id="semaine" [(ngModel)]="semaineSession"  class="form-control" type="text"/>   
                                </div>
                                <br>
            </div>
    
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Ligue :</label>
                <select [(ngModel)]="choixLigueSession" class="form-control">
                        <option value="JCS">JCS</option>
                        <option value="Acad">Acad</option>
                </select>
            </div>
        </div>
        <br>
        <button type="button" (click)="ajoutSession()" class="btn btn-primary">Ajouter la Session</button>


        <br>
        <p>---------------------------------------------------------------------</p>
        <br>

        <!--<div class="row">
                <div class="col-lg-6">
                        <h6>Ajouter un pari :</h6>
                        <br>
                        <label>Question :</label>
                        <input id="intitule" [(ngModel)]="question"  class="form-control" type="text"/>   
                        <br>
                        <label>Choix 1 :</label>
                        <input id="choix1" [(ngModel)]="choix1"  class="form-control" type="text"/>   
                        <br>
                        <label>Cote 1 :</label>
                        <input id="misePari" [(ngModel)]="cote1" class="form-control" type="number"/> 
                        <br>
                     


                </div>
                <div class="col-lg-6">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <label>Choix 2 :</label>
                        <input id="choix2" [(ngModel)]="choix2"  class="form-control" type="text"/>   
                        <br>
                        <label>Cote 2 :</label>
                        <input id="misePari" [(ngModel)]="cote2" class="form-control" type="number"/> 
                        <br>
                </div>
                
        </div>
        <div class="row">
            <div class="col-lg-4">             
                                <form class="form-inline mb-3">
                                    <div class="form-group">
                                        <div class="input-group datepicker-input">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                                            <button class="input-group-addon" (click)="d.toggle()" type="button">   
                                                <span class="fa fa-calendar"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="alert alert-info mb-0">
                                    <strong>Model: </strong> {{ date | json }}
                                </div>

                                <br>
                                <ngb-timepicker [(ngModel)]="heure"></ngb-timepicker>
                                <div class="alert alert-info">
                                    <b>Selected time: </b>{{heure | json}}
                                </div>        
            </div>
    
        </div>
        <br>
        <button type="button" (click)="ajoutPari()" class="btn btn-primary">Ajouter le Pari</button>
        

        <div>
            <br>
            <br>
            <label>Gérer les paris :</label>
            <div class="row">
                    <div class="col-lg-12">
                            <table class="table">
                                    <thead class="thead-inverse">
                                            <tr>
                                                    <th>Intitulé du Pari</th>
                                                    <th>Issue 1</th>
                                                    <th>Cote</th>
                                                    <th>Issue 2</th>
                                                    <th>Cote</th>
                                                    <th>Résoudre</th>
                                                    <th>Supprimer</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let item of listeParisNonResolu">
                                                    <td>{{item.par_question}}</td>
                                                    <td>{{item.par_issue_1}}</td>
                                                    <td>{{item.par_cote_evo_1}}</td>
                                                    <td>{{item.par_issue_2}}</td>
                                                    <td>{{item.par_cote_evo_2}}</td>
                                                    <th><button type="button" (click)="resoudre(item)" class="btn btn-primary">Résoudre</button></th>
                                                    <th><button type="button" (click)="supprimer(item)" class="btn btn-secondary">Supprimer</button></th>
                                                </tr>
                                                </tbody>
                                       </table>
                                </div>
            </div>
            <label *ngIf="listeParisNonResolu.length == 0"><i>Pas de pari disponible pour l'instant...</i></label>

        </div>

        </div>

        <div *ngIf="selectionPari">
                <br>
                <label>Solution :</label>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                            <select [(ngModel)]="choixOption" class="form-control">
                                    <option value="{{itemPari.par_issue_1}}">{{itemPari.par_issue_1}}</option>
                                    <option value="{{itemPari.par_issue_2}}">{{itemPari.par_issue_2}}</option>
                            </select>
                     </div> 
                </div>
                <br>
                <div class="row">
                        <div class="col-lg-1">
                        <button type="button" (click)="validerResolution()" class="btn btn-primary">Résoudre</button>
                        </div> 
                        <div class="col-lg-1">
                        <button type="button" (click)="retour()" class="btn btn-secondary">Retour</button>
                        </div>
                </div>

        </div>-->
              
</div>
