<div [@routerTransition]>

    <!--<app-pari [heading]="'Paris'" [icon]="'fa-money'"></app-pari>-->
    
    <div *ngIf="!connexion">
        <br>
        <h5>Vous devez vous connecter pour utiliser l'interface de pari ;)</h5>
    </div>

    <div *ngIf="connexion">
        <div>

            <br>
            <h5>Bienvenue sur JCS Easy Bets, l'interface de pari des JCS !</h5>
            <br>
            <br>
            <br>
            <label>Crédit disponible : {{credit}} JC$</label>
            <br>
            <label>Crédit en jeu : {{creditEnJeu}} JC$</label>
            <br>
            <label>Gains potentiels : {{gainsPotTot}} JC$</label>
            <br>
            <br>

            <div *ngIf="!pariChoisi">
                <label>Liste des paris en cours : </label>
                <div class="row">
                    <div class="col-lg-12">
                            <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Intitulé du Pari</th>
                                        <th>Issue 1</th>
                                        <th>Cote</th>
                                        <th>Issue 2</th>
                                        <th>Cote</th>
                                        <th>Date limite</th>
                                        <th>Parier</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of parisEnCours">
                                        <td>{{item.par_question}}</td>
                                        <td>{{item.par_issue_1}}</td>
                                        <td>{{item.par_cote_evo_1}}</td>
                                        <td>{{item.par_issue_2}}</td>
                                        <td>{{item.par_cote_evo_2}}</td>
                                        <td>{{item.par_date_fin | date:'dd/MM/yyyy à HH:mm:ss'}}</td>
                                        <th><button type="button" (click)="onParier(item)" class="btn btn-secondary">Parier</button></th>
                                    </tr>
                                    </tbody>
                           </table>
                    </div>
                </div>
                <label *ngIf="parisEnCours.length == 0"><i>Pas de pari disponible pour l'instant...</i></label>
            </div>

            <div *ngIf="pariChoisi">
            <div class="row">
                <div class="col-lg-6">
                         
                     
                        <label>{{intitule}}</label>
                        <select [(ngModel)]="choixOption" (ngModelChange)="selectionChange($event)" class="form-control">
                                <option value="1">{{issue1}} - Cote : {{cote1}}</option>
                                <option value="2">{{issue2}} - Cote : {{cote2}}</option>
                        </select>
                        <br>                               
                        <label>Mise :</label>
                        <input id="misePari" [(ngModel)]="mise" (ngModelChange)="calculGains($event)" class="form-control" type="number"/>   
                        <br>    
                        <label>Gains potentiels :</label>
                        <input [(ngModel)]="gains" disabled class="form-control" type="number"/>  
                        <br>  
                        <div class="row">
                        <div class="col-lg-2">
                        <button type="button" (click)="parier()"  class="btn btn-primary">Valider le Pari</button>
                        </div> 
                        <div class="col-lg-2">
                        <button type="button" (click)="retourPari()" class="btn btn-secondary">Retour</button>
                        </div>
                        </div>
              
                </div>
                <div class="col-lg-6">
                       
                </div>
            </div>      
            </div>

        </div>

    </div>

</div>
