<div [@routerTransition]>

   <div>

    <br>
   <h5>Bienvenue sur JCS Easy Bets, l'interface de pari des JCS !</h5>
            <br>
            <br>
            <br>
            <label>Crédit disponible : {{credit}} JC$</label>
            <br>
            <label>Crédit en jeu : {{creditEnJeu}} JC$</label>
            <br>
            <label>Gains potentiels : {{gainsPotTot}} JC$</label>
            <br>
            <label>Renflouement : {{nbrefund}}</label>
            <br>
            <br>

            <table id="tableparis" class="display" width="100%"></table>
     
    </div>

</div>
