<div [@routerTransition]>

   <div>

    <br>
   <h5>Bienvenue sur JCS Easy Bets, l'interface de pari des JCS !</h5>
            <br>
            <br>
            <br>
            <label>Crédit disponible : {{credit}} JC$</label>
            <br>
            <label>Crédit en jeu : {{creditEnJeu}} JC$</label>
            <br>
            <label>Gains potentiels : {{gainsPotTot}} JC$</label>
            <br>
            <label>Renflouement : {{nbrefund}}</label>
            <br>
            <br>

            <div *ngIf="peutRenflouer">
                <button type="button" (click)="renflouement()" class="btn btn-danger">Renflouer mon compte</button>
                <br>
                <br>
            </div>

            <label>Mes paris : </label>
            <div class="row">
                <div class="col-lg-12">
                        <table class="table">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Intitulé du Pari</th>
                                    <th>Choix</th>
                                    <th>Mise</th>
                                    <th>Cote</th>
                                    <th>Date</th>
                                    <th>Resultat</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of mesParis">
                                    <td>{{item.par_question}}</td>
                                    <td>{{item.issue_choisi}}</td>
                                    <td>{{item.mise_pari}}</td>
                                    <td>{{item.cote_pari}}</td>
                                    <td>{{item.date_pari | date:'dd/MM/yyyy à HH:mm:ss'}}</td>
                                    <td>{{item.par_solution}}</td>
                                </tr>
                                </tbody>
                       </table>
                </div>
            </div>
     
    </div>

</div>
