input.ng-invalid.ng-touched  
{  
   border-color: red;  
}  

.fullSize { width:100%!important; }
/*.fr-quick-insert { display: none; }*/
/*.fr-view {
    -webkit-user-drag: element!important;
    user-select:none!important;
    background: #FF0000!important;
}*/

.fa-check-circle{
    color: lightgreen;
}

.fa-exclamation-triangle{
    color: red;
}

.fa-check{
    color: lightgreen;
}